.sidenav {    
    background-color: #3f51b5;
    width: 200px;
}

.sidenav span {
    color: #fff;
}

.nav-list i {    
    color: #fff;
    font-size: 20px;
    padding-right: 10px;       
}

.nav-content {
    padding: 20px;
    background-color: #fff;
}      

.nav-sidenav {
    background-color: #000;
    color: #333;
}