<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <mat-label>Produto</mat-label>
            <input matInput placeholder="Digite o nome do Produto" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Preco (R$)</mat-label>
            <input type="number" matInput placeholder="Ex. 25.5" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
    <div class="button-card">
        <button mat-raised-button (click)="createadProduct()" color="primary">
            Salvar
        </button>    
        <button mat-raised-button (click)="canceldProduct()" color="warn">
            Cancelar
        </button>
    </div>
</mat-card>
