.footer{
    display: flex;
    justify-content: flex-end;

    bottom: 0;
    position: fixed;
}

.footer > span{
    font-weight: 300;
    font-size: 1rem;
}

.footer > span > a{
    text-decoration: none;
    color: #3f51b5;
}