/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
  color: rgba(227, 94, 107);
}

.v-mmiddle {
  vertical-align: middle;
}

.sucess-snack {
  background-color: #4caf50 !important; /* Cor de fundo */
  color: #ffffff;
  padding: 16px; /* Espaçamento interno */
}

.error-snack {
  background-color: #f44336 !important; /* Cor de fundo */
  color: #ffffff;
  padding: 16px; /* Espaçamento interno */
}